* {
    /* padding: 0;
    margin: 0; */
    font-family: "Raleway", sans-serif; 
}

/* shared styles */

.font-inter {
    font-family: "Inter", sans-serif;
}

.dark {
    color: #252432;
}
.light-dark {
    color: rgba(37,36,50,0.5);
}
.blue {
    color: rgba(78,71,255,1);
}

.btn {
    color: white;
    background-color:rgba(78,71,255,1);
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 600;
}

.center {
    text-align: center;
}

.bg-color {
    background-color: rgba(245,248,255,1);
}


/* Hero section styles */


.hero-container {
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    height: 100vh;
}

.heading-container button {
    margin-top:40px;
}


.hero-logo {
    height: 50px;
    width: 100px;
    font-weight: 900;
    font-size: 35px;
    -webkit-text-stroke: 1px black;
    text-shadow: 0 2px 5px black;
    
    
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heading-container{
    text-align: center;
    
    margin-top: 160px; 
}

.heading-title {
    font-size: 65px;
    font-weight: bold;
}

/* Action styles */

.action-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
    margin-left: 150px;
    margin-right: 150px;
}

#conf-img {
    border-radius: 48px;
}


/* user styles */

.user-container {
    background-color: rgba(78,71,255,0.1);
    border: none;
    border-radius: 10px;
    height: 300px;
    width: 1140px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
}
.user-container h2 {
    padding-top: 25px;
}

.stats {
    display: flex;
    justify-content:center;
    gap: 160px;
}

.stats h2 {
    font-weight: bold;
    font-size: 80px;
}

.number {
    margin-bottom: 0;
}


/* review styles */

.review-container {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 130px;
    margin-bottom: 130px;
}

.reviewer-container {
    display: flex;
    justify-content: left;
    align-items: center;

    
}
.review {
    height: 240px;
    width: 365px;
    border: none;
    background-color: white;
    border-radius: 15px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.review-container img {
    width: 40px;
    height: 40px;
    border-radius:50%;
}

.reviews {
    display: flex;
    gap: 20px;
    
}



/* focus styles */

.focus-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1140px;
    height: 700px;
    background-color: white;
    border-radius: 15px;
    margin-left: 150px;
    margin-right: 150px;

}
.focus-container h2 {
    font-weight:bold;
    font-size: 50px;
    margin-bottom: 0;
}

.focus-content {
    text-align:center;
    margin-bottom:5px;
}

.focus-container img {
    margin: 0 auto;
    border-radius:48px;
}

.focus-content button {
    margin-bottom:  20px;
}


/* form styles */

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    width: 1140px;
    height: 630px;
    margin-left: 150px;
    margin-right: 150px;
}
.form-header{
    font-weight: bold;
    font-size:100px;
}
#name, #email, #message {
    height: 70px;
    width: 500px;
    border: none;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    padding-left: 30px;
    font-size: 18px;
}
.form-btn {
    height: 60px;
    width: 535px;
    border: none;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
#message {
    height: 135px;
    padding-top: 20px;
}
label {
    padding-bottom: 10px;
    display:inline-block;
}


/* footer styles */

footer {
    color: rgba(137,135,161,1);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:100px;
    margin-bottom: 100px;
}

.footer-logo {
    font-size: 100px;
    font-weight:bolder;
    margin-bottom: 0;
}
footer a {
    text-decoration: none;
    color: rgba(137,135,161,1);
    padding-right: 50px;
}
footer p {
    
}

